{% use "form_div_layout.html.twig" %}


{% block form_widget_simple -%}
    <div class="row">
        {% if type is not defined or type not in ['file', 'hidden'] %}
            {%- set attr = attr|merge({class: (attr.class|default('') ~ ' input-field col s6')|trim}) -%}
        {% endif %}


        {{- parent() -}}
    </div>
{%- endblock form_widget_simple %}


{% block textarea_widget -%}
    <div class="row">
        <div class="input-field col s12">
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' materialize-textarea col s6')|trim}) %}

        {{- parent() -}}
        </div>
    </div>
{%- endblock textarea_widget %}

{#{% block checkbox_widget -%}#}
    {#{%- set parent_label_class = parent_label_class|default(label_attr.class|default('')) -%}#}
    {#{% if 'checkbox-inline' in parent_label_class %}#}
        {#{{- form_label(form, null, { widget: parent() }) -}}#}
    {#{% else -%}#}
        {#<div class="filled-in">#}
            {#{{- form_label(form, null, { widget: parent() }) -}}#}
        {#</div>#}
    {#{%- endif %}#}
{#{%- endblock checkbox_widget %}#}

{#{% block choice_widget_collapsed -%}#}
    {#<div class="input-field col s12">#}
        {#{% set attr = attr|merge({class: (attr.class|default('') ~ ' input-field col s12')|trim}) %}#}
        {#{{- parent() -}}#}
    {#</div>#}

{#{%- endblock %}#}

{#{% block choice_widget_expanded -%}#}
    {#{% if '-inline' in label_attr.class|default('') -%}#}
        {#{%- for child in form %}#}
            {#{{- form_widget(child, {#}
                {#parent_label_class: label_attr.class|default('input-field col s12'),#}
                {#translation_domain: choice_translation_domain,#}
            {#}) -}}#}
        {#{% endfor -%}#}
    {#{%- else -%}#}
        {#<div {{ block('widget_container_attributes') }}>#}
            {#{%- for child in form %}#}
                {#{{- form_widget(child, {#}
                    {#parent_label_class: label_attr.class|default('input-field col s12'),#}
                    {#translation_domain: choice_translation_domain,#}
                {#}) -}}#}
            {#{% endfor -%}#}
        {#</div>#}
    {#{%- endif %}#}
{#{%- endblock choice_widget_expanded %}#}
