{% extends 'base.html.twig' %}

{% block body %}
    <h1>Category</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Content</th>
            <th>ReleaseDate</th>
            <th>Category</th>
            <th>tag</th>
            <th>Author</th>
            <th>NbCommentaire</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.name }}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.releaseDate|date("m/d/Y") }}</td>
                <td>{{ article.category.name }}</td>
                <td>
                    {% for tag in article.tags %}
                        {{ tag.name }}

                    {% endfor %}</td>
                <td>{{ article.user.username }} author</td>
                <th>{{ get_nb_commentaries(article) }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('administration_category_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
