{% extends 'AdminBundle::layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>Categories list</h1>

    <table id="myTable" class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Content</th>

            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('administration_category_show', { 'id': category.id }) }}" class="btn btn-default" >Visualiser</a>
                    <a href="{{ path('administration_category_edit', { 'id': category.id }) }}" class="btn btn-default" >Editer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('administration_category_new') }}" class="btn btn-success pull-right" >Ajouter une categorie</a>

{% endblock %}
