{% extends 'form/form.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>Article edit</h1>
    {{ form_start(edit_form) }}

    <div class="row">
        <div class="input-field col s6">
            {{ form_widget(edit_form.name) }}
            {{ form_label(edit_form.name) }}
            {{ form_errors(edit_form.name) }}
            {% if error is defined %}
                <label class="red-text">{{ error }}</label>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            {{ form_widget(edit_form.content) }}
            {{ form_label(edit_form.content) }}
            {{ form_errors(edit_form.content) }}
        </div>
    </div>
    <div class="row">

        <div class="input-field col s6">
            {{ form_label(edit_form.releaseDate) }}
            {{ form_widget(edit_form.releaseDate, { 'attr':{'class':'datepicker', 'type':'datetime'} }) }}
            {{ form_errors(edit_form.releaseDate) }}
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            {{ form_label(edit_form.category) }}
            {{ form_widget(edit_form.category) }}
            {{ form_errors(edit_form.category) }}
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <p class="row">
                {{ form_label(edit_form.tags) }}
            </p>
            {% for tag in edit_form.tags %}
                <p>
                    {{ form_widget(tag) }}
                    {{ form_label(tag) }}
                    {{ form_errors(tag) }}
                </p>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col s3">
            <input type="submit" value="Modifier" class="btn waves-effect waves-light green" />
        </div>
    </div>
    {{ form_rest(edit_form) }}

    {{ form_end(edit_form) }}


    <div class="row">
        <div class="col s3">
            <a href="{{ path('administration_article_index') }}"> <input type="button" class="btn waves-effect waves-light" value="retourner à la liste" /></a>
        </div>
    </div>


    {{ form_start(delete_form) }}
    <div class="row">
        <div class="col s3">
            <input type="submit" value="Supprimer" class="waves-effect waves-light btn red">
        </div>
    </div>
    {{ form_end(delete_form) }}

{% endblock %}
