{% extends 'AdminBundle::layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>Articles list</h1>

    <table id="myTable" class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Content</th>
                <th>Author</th>
                <th>Release date</th>
                <th>Category</th>
                <th>Tags</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            {#{{ dump(article) }}#}
            <tr>
                <td>{{ article.name }}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.user.username }}</td>
                <td>{% if article.releaseDate %}{{ article.releaseDate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ article.category.name }}</td>
                <td>
                    {% for tag in article.tags %}
                    {{ tag.name }}
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('administration_article_show', { 'id': article.id }) }}" class="btn btn-default" >Visualiser</a>
                    <a href="{{ path('administration_article_edit', { 'id': article.id }) }}" class="btn btn-default" >Editer</a>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('administration_article_new') }}" class="btn btn-success pull-right" >Ajouter un article</a>

{% endblock %}
