
{% extends 'form/form.html.twig' %}


{% block body %}
    {{ parent() }}

    <h1>Ajouter un article</h1>

    {{ form_start(form) }}

    <div class="row">
        <div class="input-field col s6">
            {{ form_widget(form.name) }}
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            {{ form_widget(form.content) }}
            {{ form_label(form.content) }}
            {{ form_errors(form.content) }}
        </div>
    </div>
    <div class="row">

        <div class="input-field col s6">
            {{ form_label(form.releaseDate) }}
            {{ form_widget(form.releaseDate, { 'attr':{'class':'datepicker', 'type':'datetime'} }) }}
            {{ form_errors(form.releaseDate) }}
            </div>
    </div>
    <div class="row">
        <div class="col s6">
            {{ form_label(form.category) }}
            {{ form_widget(form.category) }}
            {{ form_errors(form.category) }}
        </div>
    </div>
    {% if form.tags.children == null %}

        <div class="row">
            <div class="input-field col s6">
                <div class="row">
                    {{ form_row(form.tags) }}
                </div>
            </div>
        </div><br>
    {% else %}
        <div class="input-field col s6">
            <p class="row">
                {{ form_label(form.tags) }}
            </p>
            {% for tag in form.tags %}
                <p>
                    {{ form_widget(tag) }}
                    {{ form_label(tag) }}
                    {{ form_errors(tag) }}
                </p>
            {% endfor %}
        </div><br>
    {% endif %}


    <div class="row">
        <input type="submit" class="btn waves-effect waves-light" value="Créer"/>

    </div>
        {{ form_rest(form) }}

    {{ form_end(form) }}



    <div class="row">
        <a href="{{ path('administration_article_index') }}" class="btn waves-effect waves-light" >Annuler</a>
    </div>
{% endblock %}
