{#{% extends '@Admin/layout.html.twig' %}#}
{% extends 'form/form.html.twig' %}
{#{% form_theme form 'form/form_them.html.twig' %}#}
{% form_theme form 'form/form_them.html.twig' %}


{% block body %}

    <h1>Article creation</h1>
    {{ form_start(form) }}


        {{ form_widget(form) }}

    <input type="submit" class="btn" value="Créer" />

    {{ form_end(form) }}
{#{{ dump(form) }}#}


    <ul>
        <li>
            <a href="{{ path('administration_article_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
