{% extends 'form/form.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>Article</h1>
    <div class="row">
        <div class="col s12">
            <div class="col s1">
                Nom :
            </div>

            <div class="col s4">
                {{ article.name }}
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col s12">
            <div class="col s1">
                Contenu :
            </div>

            <div class="col s4">
                {{ article.content }}
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col s12">
            <div class="col s1">
                Auteur :
            </div>

            <div class="col s4">
                {{ article.user.username }}
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col s12">
            <div class="col s1">
                Categorie :
            </div>

            <div class="col s4">
                {{ article.category.name }}
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col s12">
            <div class="col s1">
                Tags :
            </div>

            <div class="col s11">
                {% for tag in article.tags %}
                   | {{ tag.name}} |
                {% endfor %}
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col s12">
            <div class="col s1">
                Date publication :
            </div>

            <div class="col s4">
                {% if article.releaseDate %}{{ article.releaseDate|date('Y-m-d') }}{% endif %}
            </div>
        </div>

    </div>


    <div class="row">
        <div class="col s3">
            <a href="{{ path('administration_article_index') }}"> <input type="button" class="btn waves-effect waves-light" value="retourner à la liste" /></a>
        </div>
    </div>
    <div class="row">
        <div class="col s3">
            <a href="{{ path('administration_article_edit', { 'id': article.id })}}"> <input type="button" class="btn waves-effect waves-light" value="Page Edition" /></a>
        </div>
    </div>


    {{ form_start(delete_form) }}
    <div class="row">
        <div class="col s3">
            <input type="submit" value="Supprimer" class="waves-effect waves-light btn red">
        </div>
    </div>
    {{ form_end(delete_form) }}

{% endblock %}
