{% extends 'base.html.twig' %}

{% block body %}
    <h1>Article</h1>

    <table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Content</th>
        <th>ReleaseDate</th>
        <th>Category</th>
        <th>tag</th>
        <th>Author</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ article.name }}</td>
            <td>{{ article.content }}</td>
            <td>{{ article.releaseDate|date("m/d/Y") }}</td>
            <td>{{ article.category.name }}</td>
            <td>
                {% for tag in article.tags %}
                    {{ tag.name }}

                {% endfor %}</td>
            <td>{{ article.user }} author</td>
        </tr>
    </tbody>
    </table>

    <h1>Commentaires</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>author</th>
            <th>Content</th>
            <th>date</th>
        </tr>
        </thead>
        <tbody>
        {% for commentary in commentaries %}
            <tr>
                <td>{{ commentary.author }}</td>
                <td>{{ commentary.content }}</td>
                <td>{{ commentary.date|date("m/d/Y") }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Ajouter un commentaire</button>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            {{ dump(form) }}
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Ajout commentaire</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                </div>

                <div class="modal-footer">
                    <input type="submit" class="btn btn-success" value="Ajouter commentaire" />
                    {{ form_end(form) }}

                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                </div>
            </div>

        </div>
    </div>
    <a href="{{ path('public_liste_articles') }}"><button class="btn btn-default">Retourner aux articles</button></a>

{% endblock %}
