{% extends 'base.html.twig' %}

{% block body %}
Accueil

    <form method="post" action="{{ path('public_search_article') }}">
        <input id="search" name="name" placeholder="Search" autocomplete="off" type="search" />
        {% for tag in tags %}
            <label>{{ tag.name }}</label><input type="checkbox" value="{{ tag.id }}" name="tag_{{ tag.name }}" />
        {% endfor %}
        <input type="submit" class="btn btn-default">
    </form><br>


        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Contenu</th>
                <th>Date publication</th>
                <th>Categorie</th>
                <th>Tag</th>
                <th>Auteur</th>
            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.name }}</td>
                    <td>{{ article.content }}</td>
                    <td>{{ article.releaseDate|date("m/d/Y") }}</td>
                    <td>{{ article.category.name }}</td>
                    <td>
                    {% for tag in article.tags %}
                       {{ tag.name }}

                    {% endfor %}</td>
                    <td>{{ article.user.username }} </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}
{% block script %}
{% endblock %}