{% extends 'AdminBundle::layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>Tags list</h1>

    <table id="myTable" class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.name }}</td>
                <td>
                    <a href="{{ path('administration_tag_show', { 'id': tag.id }) }}" class="btn btn-default" >Visualiser</a>
                    <a href="{{ path('administration_tag_edit', { 'id': tag.id }) }}" class="btn btn-default" >Editer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <a href="{{ path('administration_tag_new') }}" class="btn btn-success pull-right" >Ajouter un tag</a>
{% endblock %}

