{% extends 'form/form.html.twig' %}

{% block body %}

    {{ parent() }}
    <h1>Ajouter un tag</h1>

    <div class="row">
        {{ form_start(form) }}
        <div class="input-field col s3">
            <div class="row">
                {{ form_widget(form) }}
            </div>
            <input type="submit" class="btn waves-effect waves-light" value="Créer" />
        </div>
        {{ form_end(form) }}
    </div>

    <div class="row">
        <div class="col s3">
            <a href="{{ path('administration_tag_index') }}"> <input type="button" class="btn waves-effect waves-light" value="retourner à la liste" /></a>
        </div>
    </div>
{% endblock %}

